body {
    margin: 0;
    background-color: #F9F7EF;
}

header {
    margin: 0;
    padding: 100px;
    background-color: #B2C494;
    color: #333333;
    display: flex;
    justify-content: center;

}

/* For headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
    ;
    /* Add other CSS properties such as color, size, and text-transform as needed */
}

#container {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 36px;
    color: #FCFBF5;
    /* Coral color from previous theme */
    /* Optional: You can adjust letter spacing and line height to enhance the style */
    letter-spacing: - 6px;
    font-weight: 700;
    font-size: 64px;

}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: #FF6B5E;
    text-align: left;
}

#filterContainer {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#filterDropdown {
    margin-bottom: 14px;
    text-transform: capitalize;
}

#cardContainer {
    max-width: 90%;
    width: 90%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    min-height: auto;
    width: 400px;
    vertical-align: text-top;
    background: white;
    margin: 20px;
    padding: 20px;
    border: solid #F9F8F2 2px;
    border-radius: 4px;
    font-family: Lora, "Open Sans", sans-serif;
    color: #606060;
}

.card img {
    width: 100%;
    height: 250px;
    margin-bottom: 0;
    padding: 0;
    object-fit: cover;

}


.card ul {
    font-family: Lora, "Open Sans", sans-serif;
    color: #606060;
    list-style: circle;
    padding-right: 20px;
}

.foodType {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #B2C494 !important;
    text-transform: capitalize;
}

li {
    padding-left: 5px;
}

button {
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px 10px;
    background-color: #B2C494;
    border: none;
    font-family: Lora, "Open Sans", sans-serif;
    color: #FCFBF5;
}

button:hover {
    background-color: #FCFBF5;
    color: #B2C494;
    transition: 0.2s ease;
    cursor: pointer;
}